<!-- Navigation -->
<nav class="navbar navbar-light bg-light sticky-top">
    <a class="navbar-brand" href="#">Table For Two</a>
    {{#unless isLoggedIn}}
    <a class="btn btn-primary" href="#">Sign In</a>
    {{else}}
    <a class="btn btn-primary" href='../logout'>Log Out</a>
    {{/unless}}
</nav>

<!-- Masthead -->
<header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5">Feeling hungry? We got you covered!</h1>
            </div>
            <div class="col-xl-8 mx-auto">
                <form action="", method="post">
                    <div class="form-row">
                        <div class="col-md-6">
                            <input type="text" class="form-control form-control-lg" placeholder="Your cravings...">
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control form-control-lg" placeholder="Location">
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-block btn-lg btn-primary">Search!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>

<div class="container mt-5">
    <div class="mb-5">
        <h3>Recommendations</h3>
        <div class="card" style="display:inline-block;width: 18rem;">
            <img class="card-img-top" src="images/promo1.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Heavenly Food</h5>
                <div class="card-text">Chinese</div>
                <div class="card-text">Clementi Mall</div>
                <a href="#" class="btn btn-primary mt-2">See more</a>
            </div>
        </div>
        <div class="card" style="width: 18rem; display: inline-block">
            <img class="card-img-top" src="images/promo2.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Fong Din Tai</h5>
                <div class="card-text">Chinese</div>
                <div class="card-text">JEM</div>
                <a href="#" class="btn btn-primary mt-2">See more</a>
            </div>
        </div>
    </div>

    <div class="mb-5">
        <h3>Categories</h3>
    </div>

    <div class="mb-5">
        <h3>Trending</h3>
    </div>
</div>
