<div class="card homepage-card">

    {{#if this.trending}}
        <div class="ribbon red">
            <span> Trending </span>
        </div>
    {{/if}}

    <img class="card-img-top" src="images/promo1.jpeg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <div class="card-text">Promo Code: {{this.promo_code}}</div>
        <a href="promotions/{{this.id}}" class="btn btn-primary mt-2">See more</a>
    </div>
</div>
