<!-- Masthead -->
<header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5">Feeling hungry? We got you covered!</h1>
            </div>
            <div class="col-xl-8 mx-auto">
                <form action="" method="post">
                    <div class="form-row">
                        <div class="col-md-6">
                            <input type="text" name="foodname" class="form-control form-control-lg" placeholder="Your cravings...">
                        </div>
                        <div class="col-md-4">
                            <input type="text" name="location" class="form-control form-control-lg" placeholder="Location">
                        </div>
                        <div class="col-md-2">
                            <button type="submit" formaction="search" class="btn btn-block btn-lg btn-primary">Search!</button>
                        </div>
                    </div>
                </form>
                <br />
                <a class="btn btn-info" href="/restaurants" role="button">View All Restaurants</a>
            </div>
        </div>
    </div>
</header>

<div class="container mt-5">

    <div class='mb-5'>
        <div>
            <h3 class="inline-block">Promotions</h3>
            {{#if_eq user.role "ADMIN"}}
            <a class="btn btn-success inline-block btn-sm mb-2 ml-2" href="promotions/new" role="button">New
                Promotion</a>
            {{/if_eq}}
        </div>

        <div class="horizontal-scroll">
            {{#each promotions}}
                {{>promotion_card this}}
            {{/each}}
        </div>
    </div>

    {{#if recommendedBranches}}
        {{#if_more_than recommendedBranches.length 0}}
        <div class="mb-5">
            <h3>Recommendations</h3>
            <div class="horizontal-scroll">
                {{#each recommendedBranches}}
                    {{> branch_card this}}
                {{/each}}
            </div>
        </div>
        {{/if_more_than}}
    {{/if}}

    <div class="mb-5">
        <h3>Trending</h3>
    </div>
    {{> trending }}
</div>
