<h1>CS2102: {{ title }}</h1>
<form id="signup_form" action="" role="form" method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="signUpName" name="name" placeholder="Enter your name">
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="signUpUsername" name="username" placeholder="Enter your username">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="signUpPassword" name="password" placeholder="Enter your password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script src="javascripts/signup.js"></script>
